.navigation {
	display: flex;
}

.navigation li {
	padding: 20px 10px;
	list-style: none;
	text-decoration: none;
	font-size: large;
}

.navigation li:hover {
	background: var(--platinum);
}

.navigation li:active {
	background: var(--viridian);
}

.navigation is-active {
	background: red;
}

.navigation a,
a:visited {
	text-decoration: none;
	color: var(--night);
}
