.sortForm {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	min-width: 300px;
	margin-inline: auto;
	border: 1px var(--platinum) solid;
	border-radius: 5px;
	background: var(--celadon);
}

.sortForm fieldset {
	display: flex;
	border: none;
	margin: 5px;
}

.sortForm label {
	display: inline-flex;
	align-items: center;
}

.sortForm select,
button,
input {
	background: var(--platinum);
	border: 1px solid var(--night);
	border-radius: 5px;
	height: 2em;
	font: inherit;
	padding-inline: 10px;
	margin-inline: 5px;
}

.sortForm input {
	aspect-ratio: 1;
}

.sortForm button:active {
	background: var(--viridian);
}

.sortForm,
button:disabled {
	border: none;
}
