/* core site styling */
* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 1000px;
	margin: auto;
	font-family: "Lucida Console", monospace;
	background: rgb(180, 199, 215);
}

header {
	border-bottom: solid black 2px;
	padding: 1em 50px;
}

.navigation {
	list-style: none;
	display: flex;
	gap: 10px;
}
.navigation,
li {
}

.navigation :hover {
	background: red;
}

/* article list */
.article-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 0px;
}

.article-list a {
	text-decoration: none;
}
.article-card__img {
	width: 100%;
}

.article-card__li {
	border: 1px black solid;
	list-style: none;
	display: block;
	width: 300px;
	overflow: auto;
	text-decoration: none;
}

/* article */

.article__content {
	display: flex;
	flex-wrap: wrap;
}

.article__content > img {
	max-width: 40%;
	height: fit-content;
	min-width: 300px;
}

.article__content > * {
	max-width: 50%;
	min-width: 300px;
}

.article__content-button {
	padding: 5px;
}

/* comments section */
.comments-list__ol {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
}

.comment-card__li {
	list-style-position: inside;
	border: 1px black solid;
	background: goldenrod;
	min-width: 300px;
	max-width: 40%;
	padding: 5px;
	border-radius: 10px;
}
